<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSA</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header"> <!-- começo menu -->
        <a class="logo">LOGO</a>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Quem Somos</a>
            <a href="#">Integrantes</a>
            <a href="#">Contato</a>
        </nav>
        <a href="#" class="btn">Sign up</a>
    </header>

    <main>
        <section class="main">
            <div class="container">
                <div class="box">
                    <div class="left_div">
                        <h1>Conheça um pouco <br> mais do <strong>melhor</strong> grupo da <strong>Etec de  Peruíbe!</strong></h1>
                        <br>
                        <a href="#" class="btn">Ver Mais</a>
                    </div>
                    <div class="right_div">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <!-- em breve -->
        </section>
    </main>

    <script src="/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>